//_breadcrumb.scss

.breadcrumb {
  background: $background-colour;
  border-bottom: 1px solid $tile-border-colour;
  border-radius: 0;
  padding: 16px 0 12px 0;
  margin-bottom: none;
  color: #676969;

  &>li+li:before {
    content: ">\00a0";
  }

  a {
    color: $text-colour;
    border-bottom: 1px solid $light-gray;
    padding-bottom: 1px;

    &:hover {
      color: $link-colour;
      border-bottom: 1px solid $link-colour;
    }
  }
}
