//content-section.scss

.dit-content-section {
  padding-bottom: 16px;
  background-color: $white;
  border-bottom: 5px solid $red-line-colour;
  overflow: hidden;

  @media (max-width: $screen-xs-max) {
    padding: 10px;
    border: none;
  }

  &:focus {
    outline: $white auto 1px;
  }

  h2 {
    @extend .h1;
    font-size: 36px;
    margin: flip-side-values(1.5em 0 0.5em 0);

  }

  h3 {
    margin: flip-side-values(0.18em 0 1.36em 0);
  }

  //Add external link icon
  // nice to have but would add external icon on non js without a target='_blank'
  //a:not( [ href*='great.gov.uk'] ):not( [href^='#'] ):not( [href^='/'] ):after {
  a[target=_blank]:after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    @extend .dit-icon-external-link;
    margin-left: 4px;
  }

  .dit-big-list {
    &__title {
      font-size: 24px;
      margin: flip-side-values(20px 0 24px 0);

      @media (max-width: 991px) {
        font-size: 20px;
      }
    }
  }

  &__heading {
    @extend .h1;
  }

  &__subheading {
    font-size: 28px;
    margin: flip-side-values(40px 0 0 0) !important;
  }

  &__lead {

    & p {
      font-size: 21px;

      @media (max-width: $screen-md-max) {
        font-size: 18px;
      }

      @media (max-width: $screen-sm-max) {
        font-size: 16px;
      }
    }
  }

  &__read-more-link {
    margin-top: 15px;
    display: inline-block;
  }

  & .dit-back-to-top {
    display: inline-block;
    margin-top: 12px;
  }
}

.dit-updated {
  margin-top: -48px;
  float: #{$right};
  font-style: italic;
  font-size: 14px;
  margin-bottom: 42px;
}
