//form-section.scss

.dit-form-section {
  padding: 0;
  //border: 1px solid $tile-border-colour;
  overflow: hidden;
  background: $white;

  &__header-panel {
    background-color: $teal;
    color: $white;
    h1 {
      font-size: 24px;
      font-weight: 500;
    }
  }

  &__lead {
    padding: 7px 0px;
    border-bottom: 1px solid #FFF;
    margin-top: 15px;
  }

  &__heading {
    font-size: 32px;
    font-weight: 500;

    @media (max-width: $screen-xs-max) {
      font-size: 40px;
    }
  }

  &__progress-bar {
    background-color: $background-colour;
    border-bottom: 2px solid $teal;
    min-height: 97px;

    .progress-stages {
      a {
        color: $text-colour;
        padding: 42px 0px 21px;

        &.active {
          color: $teal;
          border-bottom: 10px solid $teal;

          .number-circle {
            color: $teal;
            border: 2px solid $teal;
            padding: 8px 16px;
          }
        }
      }
    }
  }

  &__body {
    margin-top: 40px;
    background-color: $white;

    input {
      border-radius: 3px;
      height: 48px;
    }
  }

  &__inputs {
    margin: 0;
    padding: 0;
  }

  &__category {
    h2 {
      font-size: 32px;
      font-weight: 500;
    }
  }

  &__highlight {
    margin: 1em 0;
    padding: 2em 0 1em;
    color: $white;
    background: #28a197;
    text-align: center;
  }

  .number-circle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 46px;
    height: 46px;
    padding: 8px 14px;

    border: 2px solid $text-colour;
    color: $text-colour;
    text-align: center;
    margin-right: 12px;
    display: inline-block;
  }

  .glyphicon-triangle-#{$left} {
    margin-top: 1px !important;
  }

  #formSuccess {
    display: none;
  }

  .select_date_fields {
    display: inline-flex;
  }

  .select_month {
    margin-#{$right}: 15px;
  }

  .panel-section {
    margin: 60px 0 50px;

    ul {
      padding-left: 0;
      margin: 20px 0 40px;
    }

    li {
      margin: 10px 0 0 30px;
    }

    p {
      margin: 20px 0 0 0;
    }
  }
}

#step-1, #step-2 {
  margin-top: 60px;
  border-bottom: 1px solid $tile-border-colour;
  padding-bottom: 40px;
}

#step-3 {
  margin: 60px 0 120px;
}

.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  overflow: auto;
}

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-selected {
  background: #F0F0F0;
}

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #B00D23;
}

.autocomplete-group {
  padding: 2px 5px;
}

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}

.form-group {
  margin-bottom: 25px;
  padding-#{$left}: 0;
}

.control-label {
  font-weight: 500;
}

.error-help {
  display: none;
}

.has-error {

  & .control-label {
    color: black;
  }

  & .error-help {
    display: block !important;
    color: #a94442;
    font-weight: 700;
  }
  border-#{$left}: 4px solid #b10e1e;
  padding-#{$left}: 15px;
}

.help-text {
  color: #676969;
}

.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

.dit-disclaimer {
  margin-top: 40px !important;
  font-size: 16px;
}

.transform-wrap {
  -webkit-transform: translateZ(0);
}

//input[type="radio"] {
//  vertical-align: middle;
//  height: auto;
//  width: auto;
//  margin: 0 15px 0 7px;
//  transform: scale(2);
//  -moz-transform: scale(2);
//  -ms-transform: scale(2);
//  -webkit-transform: scale(2);
//  -o-transform: scale(2);
//}
//
//input[type="checkbox"] {
//  vertical-align: middle;
//  height: auto;
//  width: auto;
//  margin: 0 15px 0 7px;
//  transform: scale(2);
//  -moz-transform: scale(2);
//  -ms-transform: scale(2);
//  -webkit-transform: scale(2);
//  -o-transform: scale(2);
//}

.dit-label {
  font-weight: 500;
}

.dit-not-label {
  font-weight: 300;
  height: 36px;
}

.dit-form-confirmation-section {
  &__lead {
    margin: 160px 0 40px;

    @media (max-width: $screen-xs-max) {
      margin: 80px 0;
    }
  }

  &__list {
    &-title {
      p {
        padding: 60px 0;
        border-top: 1px solid $white;
      }
    }

    .number-circle {
      border-radius: 50%;
      behavior: url(PIE.htc);
      width: 40px;
      height: 40px;
      padding: 6px 12px;
      background: #007EA3;
      border: 2px solid #FFF;
      color: #FFF;
      text-align: center;
      margin: 0 auto;
    }

    &-text {
      padding: 20px 0 60px;
    }
  }

  &__footer {
    padding-bottom: 80px;

    a {
      color: $white;
      border-bottom: 1px solid $white;

      &:hover {
        color: $white;
      }

      &:visited {
        color: $white;
      }
    }
  }
}

#loading-overlay {
  opacity: 0.5;
  top: 0px;
  width: 2.22222px;
  height: 100%;
  position: absolute;
  margin: 0 auto;
  z-index: 10;
  display: none;
}

#img-load {
  position: absolute;
}
