//_main-logo.scss

.dit-main-logo {
  position: absolute;
  top: 0;
  #{$left}: 20px;
}

.dit-home-hmg_logo {
  float: #{$left};
  height: 32px;
  margin-bottom: 10px;
}

.dit-hmg_logo {
  min-height: 40px;
  background-color: #333;
  width: 100%;
  z-index: 1;
}

.dit-great-link-container {
  color: $white;
  font-size: 14px;
  border-#{$left}: 1px solid $white;
  display: inline-block;
  margin: flip-side-values(11px 0px);
  padding-#{$left}: 4px;
}

.dit-great-link {
  color: $white;
  font-weight: 700;

  &:hover {
    color: $white;
    border-bottom: 1px solid $white;
  }

  &:focus {
    color: $white;
    border-bottom: 1px solid $white;
  }
}

.dit-logo {
  height: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-#{$left}: -2px;
  margin-#{$right}: 8px;
  padding: 0;
}

.dit-nav-contact {
  float: #{$right};
  color: $white;
  border: 1px solid white;
  border-radius: 4px;
  padding: 1px 16px;
  margin-top: 8px;
  font-size: 16px;
}

.dit-language-selector-container {
  float: #{$right};
}

.dit-nav-language {
  float: #{$right};
  display: table;
  color: $white;
  margin-top: 5px;
  font-size: 14px;
  border-spacing: 4px;

  &-wrapper {
    display: table-row;

    & div {
      display: table-cell;
    }
  }

  @media (max-width: $screen-xs-max) {
    margin: flip-side-values(3px 0 0 0);
  }
}

.dit-language {
  text-transform: uppercase;

  @media (max-width: $screen-xs-max) {
    vertical-align: middle;
  }

  &-selector-mobile {
    float: #{$right};
    background: transparent;
  }
}

.dit-selector-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  width: 80%;

  @media (max-width: $screen-xs-max) {
    width: 100%;
    margin: 15px 0;
  }
}
