.capitalise {
  text-transform:capitalize;
}

.lower-case {
  text-transform: lowercase;
}

.jumbotron--region {
  color: #FFF;
  text-shadow: 0px 0px 20px black;
  position: relative;
  overflow: hidden;
  background: #1E1348 top right;
  height: auto;
  max-height: none;
  min-height: inherit;
  background-repeat: no;
  background-size: 100%;
  margin-bottom: 36px;

  @media (max-width: $screen-sm-max) {
    background-position: right -200px top 0;
    background-size: auto;
  }

  @media (max-width: $screen-xs-max) {
    background-position: right -400px top 0;
    background-size: auto;
  }
}

.region {
  p {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 36px;

    @media (max-width: $screen-xs-max) {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.6em;
      margin-bottom: 1.6em;
    }
  } 

  @media (min-width: $screen-xs-max) {
    &--lead-paragraph {
      p {
        font-size: 32px !important;
        line-height: 42px !important;
      }
    }
  }

  &--small-text {
    p {
      font-size: 21px !important;
      line-height: 1.1em !important;

      @media (max-width: $screen-xs-max) {
        font-size: 15px !important;
        line-height: 1.4em !important;
      }
    }
  }

  &--block {
    margin-bottom: 36px;

    &__page-header {
      &--text {
        padding-top: 50px;
        padding-bottom: 30px;

        h1 {
          font-size: 64px;
          font-weight: 500;
          line-height: 1em;

          @media (max-width: $screen-xs-max) {
            font-size: 36px;
          }
        }

        h2 {
          margin-top:0px;
          font-size: 32px;
          font-weight: 500;
          line-height: 1.1em;

          @media (max-width: $screen-xs-max) {
            font-size: 24px;
          }
        }
      }
    }

    &__quote {
      background: #4f0b7b top right;
      color: #FFFFFF;
      padding-top: 15px;

      &--quote {
        padding-left: 0px;
        padding-right: 0px;
        font-size: 16px;
        border:none;
      }
    }
  }

  &--industry-link {
    margin-top: 30px;

    a {
      color: #ffc838;
    }
  }

  &--instruction {
    color: #5a5a5a;
  }

  &--section-heading {
    h2 {
      font-size: 32px;
      font-weight: 500;
      line-height: 1.1em;
      margin-bottom: 0.5em;

      @media (max-width: $screen-xs-max) {
        font-size: 24px;
      }
    }
  }

  &--map {
    position: relative;

    &--responsive {
      display: block;
      width: 100%;
      height: auto;
      margin-top: -30px;

      @media (max-width: $screen-xs-max) {
        margin-top: 0px;
      }
    }

    &__mapping-point {
      position: absolute;
      border-radius: 10px;
      font-size: 14px;
      text-align: center;
      font-weight: bold;
    }
  }

  &--labels-toggle {
    &--wrapper {
      display: none;
      font-size: 15px;
      font-weight: 500;
      position: absolute;
      bottom: 0;
      cursor: pointer;
      margin: 10px;
    }

    &--checkbox, &--text {
      float: left;
    }

    &--checkbox {
      height: 20px;
      width: 20px;
      border: 1px solid #000000;
      margin-right: 5px;
      font-size: 16px;
      text-align: center;
    }    
  }

  &--list {
    &__bullet {
      padding-left: 30px;

      &--entry {
        font-size: 24px;
        font-weight: 400;
        line-height: 1em;

        @media (max-width: $screen-xs-max) {
          font-size: 18px;
        }

        &--bullet {
          &__teal {
            font-size: 35px;
            line-height: 18px;
            color: #0d7da4;
            margin-bottom: 24px;

            @media (max-width: $screen-xs-max) {
              font-size: 25px;
              margin-bottom: 18px;
            }
          }
        }
      }
    }
  }

  &--table {
    width: 100%;
    
    td, th {
      width: 47.5%;
      font-weight: 400;
      font-size: 21px;

      @media (max-width: $screen-xs-max) {
        font-size: 18px;
      }

      &:first-child {
        width: 5%;
        padding-#{$left}: 0;
      }
    }

    th {
      font-weight: 700;
    }

    thead > tr { 
      border-bottom: 2px solid;

    }

    &--row {
      border-bottom: none;
    }

    &--cell {
      &__no-underline {
        border-bottom: none;
      }

      &__underline {
        border-bottom: 1px solid #BFC1C3;
      }
    }

    &--value {
      &__research {
        background-color: #e29f8f;
        font-weight: 600;
        padding-left: 0.3em;
        height:25px;

        &.zero {
          background-color: #FFFFFF;
        }
      }
    }
  }

  &--proof-point {
    ul {
      list-style-type: square;
      padding-left: 25px;

      li {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 24px;
      }
    }
  }
}
