.dit-sectors {
  border-top: solid 1px #ccc;
  margin: 20px 0 60px 0;
  padding-top: 20px;
  font-size: 22px;
}

.dit-sectors__info {
  color: #666;
}

.dit-sectors__list {
  list-style-type: none;
  margin-top: 20px;
  padding-#{$left}: 0;

  .dit-sectors__list-item {
    margin-bottom: 1em;
  }
}
