.witu-block {
	border-bottom: 1px solid #EEE;
	padding-bottom: 20px;

	.mapping-point {
		position: absolute;
		background-color: lightblue;
		height: 20px;
		width: 20px;
		border-radius: 10px;
		font-size: 14px;
		text-align: center;
		font-weight: bold;
	}
	
	.sector-toggle, .filter-toggle {
		color: skyblue;	
	}

	table {
		width: 100%;
		
		td, th {
			font-weight: 100;
			font-size: 18px;
		}

		thead > tr { 
			border-bottom: 2px solid;

			th {
				text-align: center;
			}
		}

		tbody > tr {
			border: none;
		}

		.map-indicator {
			font-weight: bold;
		}
	}

	#salary-difference-table {
		tr:nth-child(6) {
			border-bottom: 1px dashed #888;
		}

		.positive {
			color: green;
		}

		.negative {
			color: red;
		}
	}
}