.jumbotron--wti {
  color: #FFF;
  text-shadow: 0px 0px 20px black;
  position: relative;
  overflow: hidden;
  background: #1E1348 top right;
  height: auto;
  max-height: none;
  min-height: inherit;
  background-repeat: no;
  background-size: 100%;

  @media (max-width: $screen-sm-max) {
    background-position: right -200px top 0;
    background-size: auto;
  }

  @media (max-width: $screen-xs-max) {
    background-position: right -400px top 0;
    background-size: auto;
  }
}

.wti {
  &--block {
    &__page-header {
      border-color: rgba(13, 125, 164, 0.5);
      border-width: 0px 0px 0px 25px;
      border-style: solid;

      &--text {
        padding-top: 50px;
        padding-bottom: 30px;

        h2 {
          margin-top:0px;
          font-size: 24px;
        }
      }

      &__region {
        &--text {
          padding-top: 100px;
          padding-bottom: 30px;

          h2 {
            margin-top:0px;
            font-size: 24px;
          }
        }
      }
    }

    &__teal {
      border-left: 25px solid #0d7da4;
    }

    &__yellow {
      border-left: 25px solid #ffc037;
    }

    &__purple {
      border-left: 25px solid #4e167b;
    }

    &__turquoise {
      border-left: 25px solid #8ae2fb
    }

    &__red {
      border-left: 25px solid #b01723;
    }

    &__blue {
      border-left: 25px solid #007ea3;
    }

    &__black {
      border-left: 25px solid #000000;
    }

    &__quote {
      background: #50167c top right;
      color: #FFFFFF;
      padding-top: 15px;

      &--quote {
        font-size: 16px;
        border:none;

      }

      &--source {
        font-size:13px;
        color: #FFFFFF;
      }
    }
  }

  &--industry-link {
    margin-top: 30px;

    a {
      color: #ffc838;
    }
  }

  &--instruction {
    color: #5a5a5a;
  }

  &--map {
    position: relative;

    &--responsive {
      display: block;
      width: 100%;
      height: auto;
    }

    &__mapping-point {
      position: absolute;
      border-radius: 10px;
      font-size: 14px;
      text-align: center;
      font-weight: bold;
    }
  }

  &--labels-toggle {
    display: none;
    cursor: pointer;
    text-decoration: underline;
    color: $link-colour;
    font-size: 15px;

    &:hover {
      color: $link-colour-hover;
    }
  }

  &--table {
    width: 100%;
    
    td, th {
      width: 47.5%;
      font-weight: 100;
      font-size: 18px;

      &:first-child {
        width: 5%;
        padding-#{$left}: 0;
      }
    }

    thead > tr { 
      border-bottom: 2px solid;

      th {
        font-weight: 600;
      }
    }

    tbody > tr {
      border-bottom: 1px solid #BFC1C3;
    }

    &__map-indicator {
      font-weight: bold;
    }

    &__value {
      background-color: #e0de92;
      font-weight: 600;
      padding-left: 0.3em;
      height:25px;

      &.zero {
        background-color: #FFFFFF;
      }
    }

    &#airport-table {
      td, th {
        width: 13.5%;
      }
    }

    &#salary-difference-table {
      .right.positive {
        background-color: #B8E673;
        font-weight: 600;
        padding-left: 0.3em;
        height: 25px;
      }

      .left.negative { 
        background-color: #E98174;
        font-weight: 600;
        padding-left: 0.3em;
        height: 25px;
        float: right;
      }
    }
  }

  &--summary {
    color: #00549f;
    cursor: pointer;
  }
}
