.wti-block {
	border-bottom: 1px solid #EEE;
	padding-bottom: 20px;

	.wti-map {
		position: relative;

		&__mapping-point {
			position: absolute;
			border-radius: 10px;
			font-size: 14px;
			text-align: center;
			font-weight: bold;
			cursor: pointer;
		}
	}
	
	.sector-toggle, .filter-toggle {
		color: skyblue;	
	}

	table {
		width: 100%;
		
		td, th {
			font-weight: 100;
			font-size: 18px;
		}

		thead > tr { 
			border-bottom: 2px solid;

			th {
				text-align: center;
			}
		}

		tbody > tr {
			border-bottom: 1px solid #BFC1C3;
		}

		.map-indicator {
			font-weight: bold;
		}
	}

	#salary-difference-table {
		.positive {
			color: green;
		}

		.negative { 
			color: red;
		}

		// tr:nth-child(6) {
		// 	border-bottom: 1px dashed #888;
		// }
	}
}