{% extends "base/index.html" %}
{% import "partials/markups.html" as markups %}

{% block content %}

{% include "partials/top-bar.html" %}

{% include "partials/header-nav.html" %}

<div id="content" tabindex="-1"></div> <!--"Skip to content" link navigates to this in order to skip naviagtion links-->

{% include "partials/jumbotron-short.html" %}

<main role="main" class="container">
    {{ markups.bullet_list(list = listItems, base = base) }}
</main>

{% include "partials/contact-us-link.html" %}

{% endblock %}

