{% extends "base/index.html" %}

{% block content %}

{% include "partials/top-bar.html" %}

{% include "partials/header-nav.html" %}

<div id="content" tabindex="-1"></div> <!--"Skip to content" link navigates to this in order to skip naviagtion links-->

{% block page_content %}
<div class="dit-info">
    {% if locale.language === 'en' %}
    {% include "partials/form-nf.html" %}
    {% else %}
    {% include "partials/jumbotron-short.html" %}
    {% include "partials/form.html" %}
    {% endif %}
</div>

{% endblock %}

{% endblock %}
