{% extends "base/index.html" %}

{% block content %}

{% include "partials/top-bar.html" %}

{% include "partials/header-nav.html" %}

<div id="content" tabindex="-1"></div> <!--"Skip to content" link navigates to this in order to skip naviagtion links-->

{% include "partials/jumbotron-short.html" %}

<section class="dit-toc">
      {% include "partials/breadcrumb.html" %}
</section>

{% block page_content %}
<main role="main" class="container dit-info">
      {% include "partials/feedback-form.html" %}
</main>

{% endblock %}

{% endblock %}
