{% extends "base/index.html" %}

{% block content %}
{% include "partials/top-bar.html" %}
{% include "partials/header-nav.html" %}

<div id="content" tabindex="-1"></div> <!--"Skip to content" link navigates to this in order to skip naviagtion links-->

<main role="main">
  <div class="dit-generic-section">
    <div class="container">
      <div style="display: none;position: fixed;top: 0px;left: 0px;z-index: 100;background-color: white;height: 100vh;width: 100%;padding:10px" id="sector-list" class="map-options">
        <p>Choose a Industry Sector:</p>
        <div class="multiple-choice">
            <label class="dit-not-label sector" for="aerospace" data-sector='Aerospace'>Aerospace</label>
        </div>
        <div class="multiple-choice">
            <label class="dit-not-label sector" for="advanced-manufacturing" data-sector='Advanced Manufacturing'>Advanced Manufacturing</label>
        </div>
        <div class="multiple-choice">
            <label class="dit-not-label sector" for="automotive" data-sector='Automotive'>Automotive</label>
        </div>
        <div class="multiple-choice">
            <label class="dit-not-label sector" for="creative" data-sector='Creative'>Creative</label>
        </div>
        <div class="multiple-choice">
            <label class="dit-not-label sector" for="energy-generation" data-sector='Energy Generation'>Energy Generation</label>
        </div>
        <div class="multiple-choice">
            <label class="dit-not-label sector" for="financial-services" data-sector='Financial Services'>Financial Services</label>
        </div>
        <div class="multiple-choice">
            <label class="dit-not-label sector" for="food-and-drink-manufacturing" data-sector='Food and Drink Manufacturing'>Food and drink manufacturing</label>
        </div>
        <div class="multiple-choice">
            <label class="dit-not-label sector" for="health-and-life-sciences" data-sector='Health and Life Sciences'>Health and life sciences</label>
        </div>
        <div class="multiple-choice">
            <label class="dit-not-label sector" for="retail" data-sector='Retail'>Retail</label>
        </div>
        <div class="multiple-choice">
            <label class="dit-not-label sector" for="technology" data-sector='Technology'>Technology</label>
        </div>
      </div>

      <div style="display: none;position: fixed;top: 0px;left: 0px;z-index: 100;background-color: white;height: 100vh;width: 100%; padding:10px" id="filter-list" class="map-options">
        <p>Choose a Comparetor:</p>
        <div class="multiple-choice">
            <a href="#universities">
              <label class="dit-not-label filter" for="universities" style="color: #000000;">Universities</label>
            </a>
        </div>

        <div class="multiple-choice">
            <a href="#salary">
              <label class="dit-not-label filter" for="salary" style="color: #000000;">Salary</label>
            </a>
        </div>

        <div class="multiple-choice">
            <a href="#r-and-d">
              <label class="dit-not-label filter" for="r-and-d" style="color: #000000;">Research and Development Hubs</label>
            </a>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 map-options hidden-xs" id="sticky-nav" style=" position: -webkit-sticky;position: sticky;top: 0;">
          <div class="multiple-choice">
            <label class="dit-not-label sector" for="aerospace" data-sector='Aerospace'>Aerospace</label>
          </div>
          <div class="multiple-choice">
            <label class="dit-not-label sector" for="advanced-manufacturing" data-sector='Advanced Manufacturing'>Advanced Manufacturing</label>
          </div>
          <div class="multiple-choice">
            <label class="dit-not-label sector" for="automotive" data-sector='Automotive'>Automotive</label>
          </div>
          <div class="multiple-choice">
            <label class="dit-not-label sector" for="creative" data-sector='Creative'>Creative</label>
          </div>
          <div class="multiple-choice">
            <label class="dit-not-label sector" for="energy-generation" data-sector='Energy Generation'>Energy Generation</label>
          </div>
          <div class="multiple-choice">
            <label class="dit-not-label sector" for="financial-services" data-sector='Financial Services'>Financial Services</label>
          </div>
          <div class="multiple-choice">
            <label class="dit-not-label sector" for="food-and-drink-manufacturing" data-sector='Food and Drink Manufacturing'>Food and drink manufacturing</label>
          </div>
          <div class="multiple-choice">
            <label class="dit-not-label sector" for="health-and-life-sciences" data-sector='Health and Life Sciences'>Health and life sciences</label>
          </div>
          <div class="multiple-choice">
            <label class="dit-not-label sector" for="retail" data-sector='Retail'>Retail</label>
          </div>
          <div class="multiple-choice">
            <label class="dit-not-label sector" for="technology" data-sector='Technology'>Technology</label>
          </div>

          <hr>

          <div class="multiple-choice">
              <a href="#universities">
                <label class="dit-not-label" for="universities" style="color: #000000;">Universities</label>
              </a>
          </div>

          <div class="multiple-choice">
              <a href="#salary">
                <label class="dit-not-label" for="salary" style="color: #000000;">Salary</label>
              </a>
          </div>

          <div class="multiple-choice">
              <a href="#r-and-d">
                <label class="dit-not-label" for="r-and-d" style="color: #000000;">Research and Development Hubs</label>
              </a>
          </div>
        </div>

        <div class="col-xs-12 col-sm-9">
          <h1>Where in the UK</h1>
          <h2 class="hidden-xs">for <span class="sector-name" style="color: skyblue">Aerospace</span></h2>
          <h2 class="hidden-sm hidden-md hidden-lg hidden-xl">for <span class="sector-toggle sector-name" style="color: skyblue">Aerospace</span></h2>

          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <img src="/assets/media/uk-map.png">
            </div>
          </div>
        
          <hr>

          <div id="universities">
            <h2 class="hidden-xs">for <span class="sector-name" style="color: skyblue">Aerospace</span></h2>
            <h2 class="hidden-sm hidden-md hidden-lg hidden-xl">for <span class="sector-toggle sector-name" style="color: skyblue">Aerospace</span></h2>
            <h3 class="hidden-xs">showing <span class="filter-name" style="color: skyblue">Universities</span></h3>
            <h3 class="hidden-sm hidden-md hidden-lg hidden-xl">showing <span class="filter-toggle filter-name" style="color: skyblue">Universities</span></h3>

            <div class="row">
              <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
                <img src="/assets/media/uk-map.png">
                <div style="background-color: lightblue;height: 20px;width: 20px;border-radius: 10px;position: absolute;top: 263px;left: 195px;font-size: 14px;text-align: center;font-weight: bold;">
                  1
                </div>
                    <div style="background-color: lightblue;height: 20px;width: 20px;border-radius: 10px;position: absolute;top: 245px;left: 215px;font-size: 14px;text-align: center;font-weight: bold;">
                  2
                </div>
                    <div style="background-color: lightblue;height: 20px;width: 20px;border-radius: 10px;position: absolute;top: 190px;left: 192px;font-size: 14px;text-align: center;font-weight: bold;">
                  3
                </div>
                    <div style="background-color: lightblue;height: 20px;width: 20px;border-radius: 10px;position: absolute;top: 270px;left: 175px;font-size: 14px;text-align: center;font-weight: bold;">
                  4
                </div>
                    <div style="background-color: lightblue;height: 20px;width: 20px;border-radius: 10px;position: absolute;top: 310px;left: 140px;font-size: 14px;text-align: center;font-weight: bold;">
                  5
                </div>
              </div>

              <div class="col-xs-12 col-sm-8">
                <div class="row" style="border-bottom: 2px solid #111111; text-align: center; padding-bottom: 5px;">
                  <div class="col-xs-6">
                    University
                  </div>

                  <div class="col-xs-6">
                    Region
                  </div>
                </div>

                <div class="row" style="padding: 5px 0px 10px;">
                  <div class="col-xs-6">
                    <span style="font-weight: bold;">1</span> Oxford
                  </div>

                  <div class="col-xs-6">
                    <a href="/int/investment-opportunities/south-east-england/">
                      South East England
                    </a>
                  </div>
                </div>

                <div class="row" style="padding: 5px 0px 10px;">
                  <div class="col-xs-6">
                    <span style="font-weight: bold;">2</span> Cambridge
                  </div>

                  <div class="col-xs-6">
                    <a href="/int/investment-opportunities/east-of-england/">
                      East of England
                    </a>
                  </div>
                </div>

                <div class="row" style="padding: 5px 0px 10px;">
                  <div class="col-xs-6">
                    <span style="font-weight: bold;">3</span> Leeds
                  </div>

                  <div class="col-xs-6">
                    <a href="/int/investment-opportunities/yorkshire-and-the-humber/">
                      Yorkshire and the Humber
                    </a>
                  </div>
                </div>

                <div class="row" style="padding: 5px 0px 10px;">
                  <div class="col-xs-6">
                    <span style="font-weight: bold;">4</span> Bristol
                  </div>

                  <div class="col-xs-6">
                    <a href="/int/investment-opportunities/south-west-england/">
                      South West England
                    </a>
                  </div>
                </div>

                <div class="row" style="padding: 5px 0px 10px;">
                  <div class="col-xs-6">
                    <span style="font-weight: bold;">5</span> Exeter
                  </div>

                  <div class="col-xs-6">
                    <a href="/int/investment-opportunities/south-west-england/">
                      South West England
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div id="salary">
            <h2 class="hidden-xs">for <span class="sector-name" style="color: skyblue">Aerospace</span></h2>
            <h2 class="hidden-sm hidden-md hidden-lg hidden-xl">for <span class="sector-toggle sector-name" style="color: skyblue">Aerospace</span></h2>
            <h3 class="hidden-xs">showing <span class="filter-name" style="color: skyblue">Salary</span></h3>
            <h3 class="hidden-sm hidden-md hidden-lg hidden-xl">showing <span class="filter-toggle filter-name" style="color: skyblue">Salary</span></h3>

            <div class="row">
              <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
                <img src="/assets/media/uk-map.png">
                <div style="background-color: lightblue;height: 20px;width: 20px;border-radius: 10px;position: absolute;top: 278px;left: 213px;font-size: 14px;text-align: center;font-weight: bold;">
                  1
                </div>
                <div style="background-color: lightblue;height: 20px;width: 20px;border-radius: 10px;position: absolute;top: 300px;left: 215px;font-size: 14px;text-align: center;font-weight: bold;">
                  2
                </div>
                <div style="background-color: lightblue;height: 20px;width: 20px;border-radius: 10px;position: absolute;top: 250px;left: 230px;font-size: 14px;text-align: center;font-weight: bold;">
                  3
                </div>
                <div style="background-color: lightblue;height: 20px;width: 20px;border-radius: 10px;position: absolute;top: 191px;left: 201px;font-size: 14px;text-align: center;font-weight: bold;">
                  4
                </div>
                <div style="background-color: lightblue;height: 20px;width: 20px;border-radius: 10px;position: absolute;top: 100px;left: 155px;font-size: 14px;text-align: center;font-weight: bold;">
                  5
                </div>
                
                <div style="background-color: red;height: 20px;width: 20px;border-radius: 10px;position: absolute;top: 243px;left: 143px;font-size: 14px;text-align: center;font-weight: bold;">
                  8
                </div>
                <div style="background-color: red;height: 20px;width: 20px;border-radius: 10px;position: absolute;top: 295px;left: 145px;font-size: 14px;text-align: center;font-weight: bold;">
                  9
                </div>
                <div style="background-color: red;height: 20px;width: 20px;border-radius: 10px;position: absolute;top: 150px;left: 95px;font-size: 14px;text-align: center;font-weight: bold;">
                  10
                </div>
                <div style="background-color: red;height: 20px;width: 20px;border-radius: 10px;position: absolute;top: 245px;left: 175px;font-size: 14px;text-align: center;font-weight: bold;">
                  11
                </div>
                <div style="background-color: red;height: 20px;width: 20px;border-radius: 10px;position: absolute;top: 145px;left: 190px;font-size: 14px;text-align: center;font-weight: bold;">
                  12
                </div>
              </div>

              <div class="col-xs-12 col-sm-8">
                <div class="row" style="border-bottom: 2px solid #111111; text-align: center; padding-bottom: 5px;">
                  <div class="col-xs-6">
                    Region
                  </div>

                  <div class="col-xs-6">
                    Salary Difference
                  </div>
                </div>

                <div class="row" style="padding: 5px 0px 10px;">
                  <div class="col-xs-6">
                    <span style="font-weight: bold;">1</span>
                    <a href="/int/investment-opportunities/london/">
                      London
                    </a>
                  </div>

                  <div class="col-xs-6" style="color: green;">
                    +10.5%
                  </div>
                </div>

                <div class="row" style="padding: 5px 0px 10px;">
                  <div class="col-xs-6">
                    <span style="font-weight: bold;">2</span>
                    <a href="/int/investment-opportunities/south-east-england/">
                      South East England
                    </a>
                  </div>

                  <div class="col-xs-6" style="color: green;">
                    +8.2%
                  </div>
                </div>

                <div class="row" style="padding: 5px 0px 10px;">
                  <div class="col-xs-6">
                    <span style="font-weight: bold;">3</span>
                    <a href="/int/investment-opportunities/east-of-england/">
                      East of England
                    </a>
                  </div>

                  <div class="col-xs-6" style="color: green;">
                    +7.8%
                  </div>
                </div>

                <div class="row" style="padding: 5px 0px 10px;">
                  <div class="col-xs-6">
                    <span style="font-weight: bold;">4</span>
                    <a href="/int/investment-opportunities/yorkshire-and-the-humber/">
                      Yorkshire and the Humber
                    </a>
                  </div>

                  <div class="col-xs-6" style="color: green;">
                    +6.1%
                  </div>
                </div>

                <div class="row" style="padding: 5px 0px 10px; border-bottom: 1px dashed #888;">
                  <div class="col-xs-6">
                    <span style="font-weight: bold;">5</span>
                    <a href="/int/investment-opportunities/scotland/">
                      Scotland
                    </a>
                  </div>

                  <div class="col-xs-6" style="color: green;">
                    +4.2%
                  </div>
                </div>

                <div class="row" style="padding: 5px 0px 10px;">
                  <div class="col-xs-6">
                    <span style="font-weight: bold;">8</span>
                    <a href="/int/investment-opportunities/wales/">
                      Wales
                    </a>
                  </div>

                  <div class="col-xs-6" style="color: red;">
                    -3.6%
                  </div>
                </div>

                <div class="row" style="padding: 5px 0px 10px;">
                  <div class="col-xs-6">
                    <span style="font-weight: bold;">9</span>
                    <a href="/int/investment-opportunities/south-west-england/">
                      South West England
                    </a>
                  </div>

                  <div class="col-xs-6" style="color: red;">
                    -4.5%
                  </div>
                </div>

                <div class="row" style="padding: 5px 0px 10px;">
                  <div class="col-xs-6">
                    <span style="font-weight: bold;">10</span>
                    <a href="/int/investment-opportunities/northern-ireland/">
                      Northern Ireland
                    </a>
                  </div>

                  <div class="col-xs-6" style="color: red;">
                    -4.8%
                  </div>
                </div>

                <div class="row" style="padding: 5px 0px 10px;">
                  <div class="col-xs-6">
                    <span style="font-weight: bold;">11</span>
                    <a href="/int/investment-opportunities/west-midlands/">
                      West Midlands
                    </a>
                  </div>

                  <div class="col-xs-6" style="color: red;">
                    -6.7%
                  </div>
                </div>

                <div class="row" style="padding: 5px 0px 10px;">
                  <div class="col-xs-6">
                    <span style="font-weight: bold;">12</span>
                    <a href="/int/investment-opportunities/north-east-england/">
                      North East England
                    </a>
                  </div>

                  <div class="col-xs-6" style="color: red;">
                    -7.9%
                  </div>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div id="r-and-d">
            <h2 class="hidden-xs">for <span class="sector-name" style="color: skyblue">Aerospace</span></h2>
            <h2 class="hidden-sm hidden-md hidden-lg hidden-xl">for <span class="sector-toggle sector-name" style="color: skyblue">Aerospace</span></h2>
            <h3 class="hidden-xs">showing <span class="filter-name" style="color: skyblue">Research and Development Hubs</span></h3>
            <h3 class="hidden-sm hidden-md hidden-lg hidden-xl">showing <span class="filter-toggle filter-name" style="color: skyblue">Research and Development Hubs</span></h3>

            <div class="row">
              <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
                <img src="/assets/media/uk-map.png">
                <div style="background-color: lightblue;height: 20px;width: 20px;border-radius: 10px;position: absolute;top: 263px;left: 195px;font-size: 14px;text-align: center;font-weight: bold;">
                  1
                </div>
                    <div style="background-color: lightblue;height: 20px;width: 20px;border-radius: 10px;position: absolute;top: 245px;left: 215px;font-size: 14px;text-align: center;font-weight: bold;">
                  2
                </div>
                    <div style="background-color: lightblue;height: 20px;width: 20px;border-radius: 10px;position: absolute;top: 190px;left: 192px;font-size: 14px;text-align: center;font-weight: bold;">
                  3
                </div>
                    <div style="background-color: lightblue;height: 20px;width: 20px;border-radius: 10px;position: absolute;top: 270px;left: 175px;font-size: 14px;text-align: center;font-weight: bold;">
                  4
                </div>
                    <div style="background-color: lightblue;height: 20px;width: 20px;border-radius: 10px;position: absolute;top: 310px;left: 140px;font-size: 14px;text-align: center;font-weight: bold;">
                  5
                </div>
              </div>

              <div class="col-xs-12 col-sm-8">
                <div class="row" style="border-bottom: 2px solid #111111; text-align: center; padding-bottom: 5px;">
                  <div class="col-xs-4">
                    R&D Hub
                  </div>

                  <div class="col-xs-2">
                    Size
                  </div>

                  <div class="col-xs-6">
                    Region
                  </div>
                </div>

                <div class="row" style="padding: 5px 0px 10px;">
                  <div class="col-xs-4">
                    <span style="font-weight: bold;">1</span> Oxford
                  </div>

                  <div class="col-xs-2">
                    £134m
                  </div>

                  <div class="col-xs-6">
                    <a href="/int/investment-opportunities/south-east-england/">
                      South East England
                    </a>
                  </div>
                </div>

                <div class="row" style="padding: 5px 0px 10px;">
                  <div class="col-xs-4">
                    <span style="font-weight: bold;">2</span> Cambridge
                  </div>

                  <div class="col-xs-2">
                    £88m
                  </div>

                  <div class="col-xs-6">
                    <a href="/int/investment-opportunities/east-of-england/">
                      East of England
                    </a>
                  </div>
                </div>

                <div class="row" style="padding: 5px 0px 10px;">
                  <div class="col-xs-4">
                    <span style="font-weight: bold;">3</span> Leeds
                  </div>

                  <div class="col-xs-2">
                    £76m
                  </div>

                  <div class="col-xs-6">
                    <a href="/int/investment-opportunities/yorkshire-and-the-humber/">
                      Yorkshire and the Humber
                    </a>
                  </div>
                </div>

                <div class="row" style="padding: 5px 0px 10px;">
                  <div class="col-xs-4">
                    <span style="font-weight: bold;">4</span> Bristol
                  </div>

                  <div class="col-xs-2">
                    £56m
                  </div>

                  <div class="col-xs-6">
                    <a href="/int/investment-opportunities/south-west-england/">
                      South West England
                    </a>
                  </div>
                </div>

                <div class="row" style="padding: 5px 0px 10px;">
                  <div class="col-xs-4">
                    <span style="font-weight: bold;">5</span> Exeter
                  </div>

                  <div class="col-xs-2">
                    £12m
                  </div>

                  <div class="col-xs-6">
                    <a href="/int/investment-opportunities/south-west-england/">
                      South West England
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
