{% extends "base/index.html" %}

{% block content %}
{% include "partials/top-bar.html" %}
{% include "partials/header-nav.html" %}

<div id="content" tabindex="-1"></div> <!--"Skip to content" link navigates to this in order to skip naviagtion links-->

<main role="main">
	<div class="dit-generic-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-4">
					<div class="dit-regions">
						<div class="dit-regions__header">Where ?</div>
						<!-- <form class="dit-regions__form">
							<div class="form-group">
								<label class="control-label dit-regions__info" for="region">Find a specific location</label>
								<input type="text" class="form-control" id="region">              
								<button type="submit" class="dit-btn--region-selector">Go</button>
							</div>
						</form> -->
						<form>
							{% for sector in mapItems %}
							<div class="dit-regions__link">
								<input type="radio" name="filter" class="sector-filter" id="{{sector.title}}" value="{{sector.title}}">
								<label for="{{sector.title}}">
									{{ sector.title }}
								</label>
							</div>
							{% endfor %}
						</form>
					</div>
				</div>
				<div id="mapCanvas" class="col-xs-8">
				</div>
			</div>
		</div>
	</div>
</main>

{% endblock %}
