{% extends "base/index.html" %}

{% block content %}
{% include "partials/top-bar-no_contact.html" %}
{% include "partials/header-nav.html" %}

{% if pageHeader.heroImage %}
  <style>
    .jumbotron--region {
      background-image: url("/{{assets}}/media/hero-img/{{pageHeader.heroImage}}");
    }
  </style>
{% endif %}

<div id="content" tabindex="-1"></div> <!--"Skip to content" link navigates to this in order to skip naviagtion links
-->

<div class="container">
  <div class="phase-banner">
    <p>
      <strong class="phase-banner--tag">BETA</strong>            
      <span>This is a new service – your <a id="FeedbackLink" href="/int/feedback/">feedback</a> will help us to improve it.</span>
    </p>
  </div>
</div>

<div class="jumbotron--region">  
  <div class="region--gradient">
    <div class="container">
      <div class="dit-hero__content">
        <div class="row region--block__page-header">
          <div id="{{ blockHeader.content.title }}" class="col-sm-12 col-md-12 region--block__page-header--text">
            <h1>
              {{ blockHeader.content.title }}
            </h1>
            <h2 class="hidden-xs">
              {{ blockHeader.content.tagline }}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<main role="main">
  <div class="region">
    <div class="container">
      <div class="row region--block hidden-sm hidden-md hidden-lg hidden-xl">
        <div class="col-xs-12">
          <div class="region--comparator-list">
            <p class="region--instruction">
              {{ labels.select_comparator[locale.code] }}
            </p>

            <ul class="region--list__bullet">
              <li class="region--list__bullet--entry--bullet__teal">
                <a class="region--list__bullet--entry" href="#invest_in">
                  {{regionOverview.content.invest_in}}
                </a>
              </li>

              {% for point in proofPoints %}
                <li class="region--list__bullet--entry--bullet__teal">
                  <a class="region--list__bullet--entry" href="#{{point.content.title | replace(' ', '_')}}">
                    {{point.content.link}}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <div id="invest_in" class="row region--block">
        <div class="region--block__header col-sm-8">
          <div class="region--section-heading hidden-sm hidden-md hidden-lg hidden-xl">
            <h2>
              {{ blockHeader.content.tagline }}
            </h2>
          </div>

          <div class="region--lead-paragraph">
            {{blockHeader.content.contents|safe}}
          </div>
        </div>

        <div class="col-sm-4 hidden-xs">
          <div class="region--comparator-list">
            <p class="region--instruction">
              {{ labels.select_comparator[locale.code] }}
            </p>

            <ul class="region--list__bullet">
              {% for point in proofPoints %}
                <li class="region--list__bullet--entry--bullet__teal">
                  <a class="region--list__bullet--entry" href="#{{point.content.title | replace(' ', '_')}}">
                    {{point.content.link}}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="col-sm-8">
          <div class="row region--block__map">
            <div class="region--block__header">
              <div class="region--section-heading">
                <h2>
                  Map of {{ blockHeader.content.title }}
                </h2>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-8">
                <img class="region--map--responsive__no-margin" src="/{{assets}}/media/wti-maps/regional-maps/{{regionOverview.image}}">
                <img class="region--map--responsive region--map--overlay" src="/{{assets}}/media/wti-maps/regional-maps/{{regionOverview.labelOverlay}}">
              </div>

              <div class="col-xs-3 col-xs-offset-1">
                <img class="region--map--responsive__no-margin" src="/{{assets}}/media/wti-maps/regional-maps/{{regionOverview.contextImage}}">
              </div>
            </div>
          </div>
        </div>
      </div>


      {% if quotation %}
        </div> <!-- closing the container to allow the quote to go full width -->

        <div class="region--block__quote">
          <div class="container">
            <div class="row">
              <div class="col-sm-8">
                <blockquote class="region--block__quote--quote" cite="{{quotation.content.source}}">
                  {{quotation.content.contents|safe}}
                  <footer class="region--small-text">
                    <p>
                      {{quotation.content.source}}
                    </p>
                  </footer>
                </blockquote>
              </div>

              <!-- <div class="col-sm-4 hidden-xs">
                Image placeholder
              </div> -->
            </div>
          </div>
        </div>

        <div class="container">
      {% endif %}

      {% for point in proofPoints %}
        <div id="{{point.content.title | replace(' ', '_')}}" class="row region--block">
          <div class="col-md-8 region--proof-point">
            <div class="region--section-heading">
              <h2>
                {{point.content.title}}
              </h2>
            </div>

            {{point.content.contents|safe}}

            {% if point.content.table_headers %}
              <table class="region--table">
                <thead>
                  {% for header in point.content.table_headers %}
                    <tr>
                      <th colspan="2">
                        {{header.cell1}}
                      </th>
                    </tr>
                  {% endfor %}
                </thead>
                <tbody>
                  {% for row in point.content.table_rows %}
                    <tr>
                      <td>
                        {{row.cell1}}
                      </td>
                      <td>
                        {{row.cell2}}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}
          </div>
        </div>  
      {% endfor %}
    </div>
  </div>
</main>

{% include "partials/contact-us-link.html" %}

{% endblock %}
