{% extends "base/index.html" %}

{% block content %}
{% include "partials/top-bar-no_contact.html" %}
{% include "partials/header-nav.html" %}

<div id="content" tabindex="-1"></div> <!--"Skip to content" link navigates to this in order to skip naviagtion links
-->

<div class="jumbotron--wti">  
  <div class="container">
    <div class="dit-hero__content">
      <div class="row wti--block__page-header">
        <div class="col-sm-10 col-md-10 wti--block__page-header--text">
          <h1>
            {{ blockHeader.content.title }}
          </h1>
          <h2 class="hidden-xs">
            {{ blockHeader.content.tagline }}
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>

<main role="main">
  <div class="wti">
    <div class="container">
      <div class="row wti--block__teal hidden-sm hidden-md hidden-lg hidden-xl">
        <div class="col-xs-12">
          <div class="wti--comparator-list">
            <p class="wti--instruction">
              {{ labels.select_comparator[locale.code] }}
            </p>

            <div class="wti--comparator-list__comparator">
              <a href="#">{{regionOverview.content.invest_in}} {{ blockHeader.content.title }}</a>
            </div>

            <div class="wti--comparator-list__comparator">
              <a href="#">{{regionOverview.content.sectors_and_cities}}</a>
            </div>

            <div class="wti--comparator-list__comparator">
              <a href="#">{{regionOverview.content.skills_and_research}}</a>
            </div>

            <div class="wti--comparator-list__comparator">
              <a href="#">{{regionOverview.content.capital_invest_opps}}</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row wti--block__yellow">
        <div class="wti--block__header col-md-8">
          <h2 class="hidden-sm hidden-md hidden-lg hidden-xl">
            {{ blockHeader.content.tagline }}
          </h2>

          {{blockHeader.content.contents|safe}}
        </div>
      </div>
    {% if quotation %}
      </div>

      <div class="wti--block__quote">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <blockquote class="wti--block__quote--quote" cite="{{quotation.content.source}}">
                {{quotation.content.contents|safe}}
                <small class="wti--block__quote--source">
                  {{quotation.content.source}}
                </small>
              </blockquote>
            </div>

            <div class="col-sm-6 hidden-xs">
              Image placeholder
            </div>
          </div>
        </div>
      </div>

      <div class="container">
    {% endif %}
      {% for point in proofPoints %}
        <div class="row wti--block__{{point.content.borderColour}}">
          <div class="col-md-8">
            <h2>
              {{point.content.title}}
            </h2>

            {{point.content.contents|safe}}

            {% if point.content.table_headers %}
              <table class="wti--table">
                <thead>
                  {% for header in point.content.table_headers %}
                    <tr>
                      <th colspan="2">
                        {{header.cell1}}
                      </th>
                    </tr>
                  {% endfor %}
                </thead>
                <tbody>
                  {% for row in point.content.table_rows %}
                    <tr>
                      <td>
                        {{row.cell1}}
                      </td>
                      <td>
                        {{row.cell2}}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}
          </div>
        </div>  
      {% endfor %}
    </div>
  </div>
</main>


{% endblock %}
