{% extends "base/generic.html" %}

{% block content_inner %}

<!--
[cms-fields]
  infoBlock:
    type: content
    label: Info block
[/cms-fields]
-->

<main role="main">
    <div class="dit-generic-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <p class="big-paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <p class="big-paragraph">
                        Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <p class="big-paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium saepe, quaerat adipisci. Dolore numquam sequi vero incidunt, voluptates nemo optio deleniti.
                    </p>
                    <p class="big-paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
                <div class="col-sm-12 col-md-6">
                    <p class="big-paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis fugiat, ad commodi rem autem laborum? Fugit perferendis deserunt, omnis quidem.
                    </p>
                    <svg class="investment-chart"></svg>
                    <div class="investment-highlight">
                        <div class="investment-highlight__number">150</div>
                        <div class="investment-highlight__text">Foreign direct investment projects in 2017, 105 in 2016</div>
                    </div>
                    <p class="big-paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="quote">
        <p class="quote__quoted">
            <img src="/{{assets}}/media/icons/dit-quote-left.png" alt="Quote left" class="quote__left-quote-icon">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate omnis recusandae quia ipsa iusto, nemo iure commodi culpa, blanditiis consectetur fugiat beatae consequatur velit dolores aperiam! Odit, facilis alias neque.
            <img src="/{{assets}}/media/icons/dit-quote-right.png" alt="Quote left" class="quote__right-quote-icon">
        </p>
        <p class="quote__quote-source">Neil Rami, Chief Executive of Marketing Birmingham</p>
    </div>
    <div class="dit-generic-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-offset-1 col-lg-7">
                    <div class="map-tools hidden-xs hidden-sm">
                        <div class="map-tools__layers">
                            <fieldset>
                                <legend class="map-legend">Select map layers</legend>
                                <div class="multiple-choice">
                                    <input type="checkbox" value="map-labels">
                                    <label class="dit-not-label">Labels</label>
                                </div>
                                <div class="multiple-choice">
                                    <input type="checkbox" value="map-labels">
                                    <label class="dit-not-label">Transport Links</label>
                                </div>
                            </fieldset>
                        </div>
                        <div class="map-tools__filters">
                            <fieldset>
                                <div class="multiple-choice">
                                    <input type="checkbox" value="map-filters">
                                    <label class="dit-not-label">Significant businesses</label>
                                </div>
                                <div class="multiple-choice">
                                    <input type="checkbox" value="map-filters">
                                    <label class="dit-not-label">Financial incentives</label>
                                </div>
                                <div class="multiple-choice">
                                    <input type="checkbox" value="map-filters">
                                    <label class="dit-not-label">R & D Hubs</label>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="map-box">
                        <img src="http://via.placeholder.com/620x740" class="region-map">
                    </div>
                </div>
                <div class="hidden-xs hidden-sm col-md-4 col-lg-3">
                    <div class="map-industries">
                        <div class="map-legend">Filter by industry</div>
                        <div class="multiple-choice">
                            <input type="radio" class="dit-radio" name="industry_filter[industry]" id="show-all" value="Show All">
                            <label class="dit-not-label" for="show-all">Show All</label>
                        </div>
                        <div class="multiple-choice">
                            <input type="radio" class="dit-radio" name="industry_filter[industry]" id="aerospace" value="Aerospace">
                            <label class="dit-not-label" for="aerospace">Aerospace</label>
                        </div>
                        <div class="multiple-choice">
                            <input type="radio" class="dit-radio" name="industry_filter[industry]" id="advanced-manufacturing" value="Advanced Manufacturing">
                            <label class="dit-not-label" for="advanced-manufacturing">Advanced Manufacturing</label>
                        </div>
                        <div class="multiple-choice">
                            <input type="radio" class="dit-radio" name="industry_filter[industry]" id="automotive" value="Automotive">
                            <label class="dit-not-label" for="automotive">Automotive</label>
                        </div>
                        <div class="multiple-choice">
                            <input type="radio" class="dit-radio" name="industry_filter[industry]" id="creative" value="Creative">
                            <label class="dit-not-label" for="creative">Creative</label>
                        </div>
                        <div class="multiple-choice">
                            <input type="radio" class="dit-radio" name="industry_filter[industry]" id="energy-generation" value="Energy Generation">
                            <label class="dit-not-label" for="energy-generation">Energy Generation</label>
                        </div>
                        <div class="multiple-choice">
                            <input type="radio" class="dit-radio" name="industry_filter[industry]" id="financial-services" value="Financial Services">
                            <label class="dit-not-label" for="financial-services">Financial Services</label>
                        </div>
                        <div class="multiple-choice">
                            <input type="radio" class="dit-radio" name="industry_filter[industry]" id="food-and-drink-manufacturing" value="Food and drink manufacturing">
                            <label class="dit-not-label" for="food-and-drink-manufacturing">Food and drink manufacturing</label>
                        </div>
                        <div class="multiple-choice">
                            <input type="radio" class="dit-radio" name="industry_filter[industry]" id="health-and-life-sciences" value="Health and life sciences">
                            <label class="dit-not-label" for="health-and-life-sciences">Health and life sciences</label>
                        </div>
                        <div class="multiple-choice">
                            <input type="radio" class="dit-radio" name="industry_filter[industry]" id="retail" value="Retail">
                            <label class="dit-not-label" for="retail">Retail</label>
                        </div>
                        <div class="multiple-choice">
                            <input type="radio" class="dit-radio" name="industry_filter[industry]" id="technology" value="Technology">
                            <label class="dit-not-label" for="technology">Technology</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dit-generic-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h2>West Midlands, an engineering success story</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium saepe, quaerat adipisci. Dolore numquam sequi vero incidunt, voluptates nemo optio deleniti.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta fugiat aut, veritatis, nobis ab illo fugit consequatur maxime porro itaque culpa expedita hic nemo corrupti doloribus animi amet laborum quam?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero quibusdam consectetur pariatur quaerat. Iure, tempora? Aperiam reprehenderit, perferendis vitae assumenda, numquam totam aut hic ullam tenetur, praesentium ab quaerat rerum.
                    </p>
                    <div class="references-list">
                        <p class="references-list__header">References:</p>
                        <ol>
                            <li class="references-list__ref"><a href="#">UK Attractiveness survey</a>, 2015, EY</li>
                            <li class="references-list__ref"><a href="#">FDI projects, West Midlands</a>, 2016, UK Invest</li>
                            <li class="references-list__ref"><a href="#">Projects review</a>, 2017, Department for International Trade</li>
                        </ol>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <table class="table-region-datapoints">
                        <thead>
                            <tr>
                                <th colspan="2">Datapoints for West Midlands</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Population</td>
                                <td>5,713,000 (2013)</td>
                            </tr>
                            <tr>
                                <td>Gross Value Added</td>
                                <td>£110 billion</td>
                            </tr>
                            <tr>
                                <td>GVA per capita</td>
                                <td>£17,161</td>
                            </tr>
                            <tr>
                                <td>Regional centre</td>
                                <td>Birmingham</td>
                            </tr>
                            <tr>
                                <td>Regional cities</td>
                                <td>Coventry, Warwick, Stoke-on-trent, Wolverhampton</td>
                            </tr>
                            <tr>
                                <td>Primary industries</td>
                                <td><a href="#">Advanced manufacturing</a>, <a href="#">Automobile</a>, <a href="#">Aerospace</a>, <a href="#">Food manufacturing</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="useful-links">
                        <p class="useful-links__header">Useful links</p>
                        <p class="useful-links__item"><a href="#">UK Attractiveness survey</a>, 2015, EY</p>
                        <p class="useful-links__item"><a href="#">FDI projects, West Midlands</a>, 2016, UK Invest</p>
                        <p class="useful-links__item"><a href="#">Projects review</a>, 2017, Department for International Trade</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dit-generic-section">
        <div class="container">
            <div class="contact-points">
                <div class="contact-points__header">Contact our investment services team for:</div>
                <ul class="contact-points__list">
                    <li>Practical support and information about taking your investment forward</li>
                    <li>Insights into the UK market</li>
                    <li>Help building connections</li>
                </ul>
            </div>

            {% include "partials/carousel-form.html" %}
                        
        </div>
    </div>
</main>


{% endblock %}
