{% extends "base/index.html" %}

{% block content %}
{% include "partials/top-bar-no_contact.html" %}
{% include "partials/header-nav.html" %}

{% if pageHeader.heroImage %}
  <style>
    .jumbotron--wti {
      background-image: url("/{{assets}}/media/hero-img/{{pageHeader.heroImage}}");
    }
  </style>
{% endif %}

<div id="content" tabindex="-1"></div> <!--"Skip to content" link navigates to this in order to skip naviagtion links-->

<div class="container">
  <div class="phase-banner">
    <p>
      <strong class="phase-banner--tag">BETA</strong>            
      <span>This is a new service – your <a id="FeedbackLink" href="/int/feedback/">feedback</a> will help us to improve it.</span>
    </p>
  </div>
</div>

<div class="jumbotron--wti">
  <div class="wti--gradient">
    <div class="container">
      <div class="dit-hero__content">
        <div class="row wti--block__page-header">
          <div class="col-sm-10 col-md-10 wti--block__page-header--text">
            <h1>{{ labels.where_to_invest[locale.code] }} {{ labels.in_uk[locale.code] }}</h1>
            {% if blockHeader %}
              <h2> 
                {{ labels.for[locale.code] }} 
                <span class="lower-case">{{ blockHeader.content.title }}</span>
              </h2>
              <div class="wti--industry-link">
                <a href="/int/where-to-invest/change-industry">{{ labels.change_industry[locale.code] }}</a>
              </div>
            {% else %}
              <h2>
                {{ labels.find_best_region[locale.code] }}
              </h2>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<main role="main">
  <div class="wti">
    <div class="container">
      {% if blockHeader %}
        <div class="row wti--block hidden-sm hidden-md hidden-lg hidden-xl">
          <div class="col-xs-12">
            <div class="wti--comparator-list">
              <p class="wti--instruction">
                {{ labels.select_comparator[locale.code] }}
              </p>

              <ul class="wti--list__bullet">
                <li class="wti--list__bullet--entry--bullet__teal">
                  <a class="wti--list__bullet--entry link--list" href="#clusters">
                    {{ labels.business_clusters[locale.code] }}
                  </a>
                </li>

                <!-- <div class="wti-comparator-list__comparator">
                  <a href="#universities">{{ labels.universities[locale.code] }}</a>
                </div> -->

                <li class="wti--list__bullet--entry--bullet__teal">
                  <a class="wti--list__bullet--entry link--list" href="#r-and-d">
                    <span class="lower-case">{{ labels.research_and_development_hubs[locale.code] }} {{ blockHeader.content.title }}</span>
                  </a>
                </li>

                <li class="wti--list__bullet--entry--bullet__teal">
                  <a class="wti--list__bullet--entry link--list" href="#enterprise">
                    <span class="lower-case">{{ labels.enterprise_zones[locale.code] }} {{ blockHeader.content.title }}</span>
                  </a>
                </li>

                <li class="wti--list__bullet--entry--bullet__teal">
                  <a class="wti--list__bullet--entry link--list" href="#salary">
                    <span class="lower-case">{{ labels.salary[locale.code] }}</span>
                  </a>
                </li>

                <li class="wti--list__bullet--entry--bullet__teal">
                  <a class="wti--list__bullet--entry link--list" href="#airport" class="filter">
                    <span class="lower-case">{{ labels.airports[locale.code] }}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        
        <div id="clusters" class="row wti--block">
          <div class="col-sm-6">
            <div class="wti--section-heading">
              <h2>
                {{blockTitles.content.clusters_title}} <span class="lower-case">{{ blockHeader.content.title }}</span>
              </h2>
            </div>

            <p>
              {{ clusterTable.content.contents|safe }}
            </p>

            <div class="hidden-xs">
              <p class="wti--instruction">
                {{ labels.select_comparator[locale.code] }}
              </p>

              <ul class="wti--list__bullet">
                <!-- <div class="wti-comparator-list__comparator">
                  <a href="#universities">{{ labels.universities[locale.code] }}</a>
                </div> -->

                <li class="wti--list__bullet--entry--bullet__teal">
                  <a class="wti--list__bullet--entry link--list" href="#r-and-d">
                    <span class="lower-case">{{ labels.research_and_development_hubs[locale.code] }} {{ blockHeader.content.title }}</span>
                  </a>
                </li>

                <li class="wti--list__bullet--entry--bullet__teal">
                  <a class="wti--list__bullet--entry link--list" href="#enterprise">
                    <span class="lower-case">{{ labels.enterprise_zones[locale.code] }} {{ blockHeader.content.title }}</span>
                  </a>
                </li>

                <li class="wti--list__bullet--entry--bullet__teal">
                  <a class="wti--list__bullet--entry link--list" href="#salary">
                    <span class="lower-case">{{ labels.salary[locale.code] }}</span>
                  </a>
                </li>

                <li class="wti--list__bullet--entry--bullet__teal">
                  <a class="wti--list__bullet--entry link--list" href="#airport" class="filter">
                    <span class="lower-case">{{ labels.airports[locale.code] }}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="wti-map">
              <img id="clusterMapImage" class="wti--map--responsive" src="/{{assets}}/media/wti-maps/{{ clusterMap.labelledImage }}">
              <div id="clusters-labels-toggle" class="wti--labels-toggle--wrapper">
                <div id="clusters-labels-checkbox" class="wti--labels-toggle--checkbox">
                  &checkmark;
                </div>

                <span id="clusters-labels-text" class="wti--labels-toggle--text">
                  Hide cities
                </span>
              </div>
            </div>
          </div>
        </div>
        
        <div id="r-and-d" class="wti--block">
          <div class="row">
            <div class="col-sm-6">
              <div class="wti--section-heading">
                <h2>
                  {{ labels.research_and_development_hubs[locale.code] }} <span class="lower-case">{{ blockHeader.content.title }}</span>
                </h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <table id="r-and-d-table" class="wti--table">
                <thead>
                  <tr>
                    <th colspan="2">{{ labels.area[locale.code] }}</th>
                    <th>{{ labels.rd_hubs[locale.code] }}</th>
                  </tr>
                </thead>

                <tbody>
                  {% for row in researchTable.content.table_rows %}
                    <tr class="wti--table--row">
                      <td class="wti--table--cell__map-indicator">
                        <div class="wti--list__no-bullet--entry__red--map-indicator">
                          {{ row.mapIndicator }}
                        </div>
                      </td>
                      <td class="wti--table--cell__underline">
                        <a href="/{{ base }}/where-to-invest/{{ row.link }}/">
                          {{ row.cell1 }}
                        </a>
                      </td>
                      <td class="wti--table--cell__underline">
                        <div class="row">
                          <div class="col-xs-3">
                            {{ row.cell2 }}
                          </div>
                          <div class="col-xs-9">
                            <div class="wti--table--value__research {{ 'zero' if row.cell2 | int == 0 else '' }}" style="width: {{ row.widthValue }};">
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              
              <div class="wti--small-text">
                <p>
                  {{blockTitles.content.research_source}}
                </p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="wti--map">
                <img class="wti--map--responsive" src="/{{assets}}/media/wti-maps/{{ researchMap.image }}">
                <div class="wti--map__mapping">
                  {% for point in researchMap.content.mapping_points %}
                    <a href="/{{ base }}/where-to-invest/{{ point.link }}/">
                      <div class="wti--map__mapping-point" style="top: {{ point.top }};left: {{ point.left }}; width: {{ point.width }}; height: {{ point.height }}"><span class="visuallyhidden">{{ point.text }}</span></div>
                    </a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="enterprise" class="wti--block">
          <div class="row">
            <div class="col-sm-6">
              <div class="wti--section-heading">
                <h2>
                  {{ labels.enterprise_zones[locale.code] }} <span class="lower-case">{{ blockHeader.content.title }}</span>
                </h2>

                <p>
                  {{blockTitles.content.ez_introduction}}
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <table id="enterprise-table" class="wti--table">
                <thead>
                  <tr>
                    <th colspan="2">{{ labels.area[locale.code] }}</th>
                    <th>{{ labels.ez[locale.code] }}</th>
                  </tr>
                </thead>

                <tbody>
                  {% for row in ezTable.content.table_rows %}
                    <tr class="wti--table--row">
                      <td class="wti--table--cell__map-indicator">
                        <div class="wti--list__no-bullet--entry__grey--map-indicator">
                          {{ row.mapIndicator }}
                        </div>
                      </td>
                      <td class="wti--table--cell__underline">
                        <a href="/{{ base }}/where-to-invest/{{ row.link }}/">
                          {{ row.cell1 }}
                        </a>
                      </td>
                      <td class="wti--table--cell__underline">
                        <div class="row">
                          <div class="col-xs-3">
                            {{ row.cell2 }}
                          </div>
                          <div class="col-xs-9">
                            <div class="wti--table--value__enterprise {{ 'zero' if row.cell2 | int == 0 else '' }}" style="width: {{ row.widthValue }};">
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              
              <div class="wti--small-text">
                <p>
                  {{blockTitles.content.ez_source}}
                </p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="wti--map">
                <img class="wti--map--responsive" src="/{{assets}}/media/wti-maps/{{ ezMap.image }}">
                <div class="wti--map__mapping">
                  {% for point in ezMap.content.mapping_points %}
                    <a href="/{{ base }}/where-to-invest/{{ point.link }}/">
                      <div class="wti--map__mapping-point" style="top: {{ point.top }};left: {{ point.left }}; width: {{ point.width }}; height: {{ point.height }}"><span class="visuallyhidden">{{ point.text }}</span></div>
                    </a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="salary" class="wti--block">
          <div class="row">
            <div class="col-sm-6">
              <div class="wti--section-heading">
                <h2>
                  {{ labels.salary[locale.code] }}
                </h2>

                <p>
                  {{blockTitles.content.salary_introduction}}
                </p>

                <p>
                  {{blockTitles.content.salary_introduction_2}}
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <table id="salary-difference-table" class="wti--table">
                <thead>
                  <tr>
                    <th colspan="2">{{ labels.area[locale.code] }}</th>
                    <th>{{ labels.salary_difference[locale.code] }}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in salaryTable.content.table_rows %}
                    <tr class="wti--table--row">
                      <td class="wti--table--cell__map-indicator">
                        <div class="wti--list__no-bullet--entry__purple--map-indicator">
                          {{ row.mapIndicator }}
                        </div>
                      </td>
                      <td class="wti--table--cell__underline">
                        <a href="/{{ base }}/where-to-invest/{{ row.link }}">
                          {{ row.cell1 }}
                        </a>
                      </td>
                      <td class="wti--table--cell__underline">
                        <div class="row">
                          <div class="col-xs-4 wti--table--value__salary">
                            <div class="left {{ 'positive' if row.cell2 | int > 0 else 'negative' }}" style="width: {{ row.widthValue }};">
                            </div>
                          </div>
                          <div class="col-xs-4">
                            {{ row.cell2 }}
                          </div>
                          <div class="col-xs-4 wti--table--value__salary">
                            <div class="right {{ 'positive' if row.cell2 | int > 0 else 'negative' }}" style="width: {{ row.widthValue }};">
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>

              <div class="wti--small-text">
                <p>
                  {{blockTitles.content.salary_source}}
                </p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="wti--map">
                <img class="wti--map--responsive" src="/{{assets}}/media/wti-maps/{{ salaryMap.image }}">
                <div class="wti--map__mapping">
                  {% for point in salaryMap.content.mapping_points %}
                    <a href="/{{ base }}/where-to-invest/{{ point.link }}/">
                      <div class="wti--map__mapping-point" style="top: {{ point.top }};left: {{ point.left }}; width: {{ point.width }}; height: {{ point.height }}"><span class="visuallyhidden">{{ point.text }}</span></div>
                    </a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="airport" class="wti--block">
          <div class="row">
            <div class="col-sm-6">
              <div class="wti--section-heading">
                <h2>
                  {{blockTitles.content.airports_title}}
                </h2>

                <p>
                  {{blockTitles.content.airports_introduction}}
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <table id="airport-table" class="wti--table">
                <thead>
                  <tr>
                    <th colspan="2">
                      {{ labels.Airport[locale.code] }}
                    </th>
                    <th colspan="2">
                      {{ labels.destinations[locale.code] }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in range(0, 5) %}
                    <tr class="wti--table--row">
                      <td class="wti--table--cell__map-indicator" rowspan="6">
                        <div class="wti--list__no-bullet--entry__blue--map-indicator">
                          {{ airportTable.content.table_rows[i].mapIndicator }}
                        </div>
                      </td>

                      <td rowspan="6" class="wti--table--cell__underline">
                        <div>
                          {{ airportTable.content.table_rows[i].cell1 }}
                        </div>
                        <div>
                          <a href="/{{ base }}/where-to-invest/{{ airportTable.content.table_rows[i].link }}/">
                            {{ labels.in[locale.code] }} {{ airportTable.content.table_rows[i].displayName }}
                          </a>
                        </div>
                      </td>
                      {% for headerRow in airportTable.content.table_headers %}
                          <td>{{ headerRow.cell2 }}</td>
                          <td>{{ airportTable.content.table_rows[i].cell2 }}</td>
                        </tr>
                        <tr class="wti--table--row">
                          <td>{{ headerRow.cell3 }}</td>
                          <td>{{ airportTable.content.table_rows[i].cell3 }}</td>
                        </tr>
                        <tr class="wti--table--row">
                          <td>{{ headerRow.cell4 }}</td>
                          <td>{{ airportTable.content.table_rows[i].cell4 }}</td>
                        </tr>
                        <tr class="wti--table--row">
                          <td>{{ headerRow.cell5 }}</td>
                          <td>{{ airportTable.content.table_rows[i].cell5 }}</td>
                        </tr>
                        <tr class="wti--table--row">
                          <td>{{ headerRow.cell6 }}</td>
                          <td>{{ airportTable.content.table_rows[i].cell6 }}</td>
                        </tr>
                        <tr class="wti--table--row">
                          <td class="wti--table--cell__underline">
                            {{ headerRow.cell7 }}
                          </td>
                          <td class="wti--table--cell__underline">
                            {{ airportTable.content.table_rows[i].cell7 }}
                          </td>
                      {% endfor %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              <details>
                <summary class="wti--summary">Show more airports ...</summary>
                <table id="airport-table" class="wti--table">
                  <tbody>
                    {% for i in range(5, 20) %}
                      <tr class="wti--table--row">
                        <td class="wti--table--cell__map-indicator" rowspan="6">
                          <div>
                            {{ airportTable.content.table_rows[i].mapIndicator }}
                          </div>
                        </td>

                        <td rowspan="6" class="wti--table--cell__underline">
                          <div>
                            {{ airportTable.content.table_rows[i].cell1 }}
                          </div>
                          <div>
                            <a href="/{{ base }}/where-to-invest/{{ airportTable.content.table_rows[i].link }}/">
                              {{ labels.in[locale.code] }} {{ airportTable.content.table_rows[i].displayName }}
                            </a>
                          </div>
                        </td>
                        {% for headerRow in airportTable.content.table_headers %}
                            <td>{{ headerRow.cell2 }}</td>
                            <td>{{ airportTable.content.table_rows[i].cell2 }}</td>
                          </tr>
                          <tr class="wti--table--row">
                            <td>{{ headerRow.cell3 }}</td>
                            <td>{{ airportTable.content.table_rows[i].cell3 }}</td>
                          </tr>
                          <tr class="wti--table--row">
                            <td>{{ headerRow.cell4 }}</td>
                            <td>{{ airportTable.content.table_rows[i].cell4 }}</td>
                          </tr>
                          <tr class="wti--table--row">
                            <td>{{ headerRow.cell5 }}</td>
                            <td>{{ airportTable.content.table_rows[i].cell5 }}</td>
                          </tr>
                          <tr class="wti--table--row">
                            <td>{{ headerRow.cell6 }}</td>
                            <td>{{ airportTable.content.table_rows[i].cell6 }}</td>
                          </tr>
                          <tr class="wti--table--row">
                            <td class="wti--table--cell__underline">
                              {{ headerRow.cell7 }}
                            </td>
                            <td class="wti--table--cell__underline">
                              {{ airportTable.content.table_rows[i].cell7 }}
                            </td>
                        {% endfor %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </details>

              <div class="wti--small-text">
                <p>
                  {{blockTitles.content.airports_source}}
                </p>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="wti--map">
                <img class="wti--map--responsive" src="/{{assets}}/media/wti-maps/{{ airportMap.image }}">
                <div class="wti-map__mapping">
                  {% for point in airportMap.content.mapping_points %}
                    <a href="/{{ base }}/where-to-invest/{{ point.link }}/">
                      <div class="wti--map__mapping-point" style="top: {{ point.top }};left: {{ point.left }}; width: {{ point.width }}; height: {{ point.height }}"><span class="visuallyhidden">{{ point.text }}</span></div>
                    </a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% else %}
        <div id="sector-list" class="wti--sector-list">
          <div class="wti--instruction wti--section-heading">
            <h2>
              {{ labels.investment_opts_select_industry[locale.code] }}
            </h2>
          </div>
          <ul class="wti--list__bullet">
            <div class="row">
              <div class="col-sm-4">
                <li class="wti--list__bullet--entry--bullet__teal">
                  <a href="/{{ base }}/industries/aerospace/aerospace-in-the-uk" class="wti--list__bullet--entry link--list">
                    {{ labels.sectors.aerospace[locale.code] }}
                  </a>
                </li>
                <li class="wti--list__bullet--entry--bullet__teal">
                  <a href="/{{ base }}/industries/advanced-manufacturing/advanced-manufacturing-in-the-uk" class="wti--list__bullet--entry link--list">
                    {{ labels.sectors.advanced_manufacturing[locale.code] }}
                  </a>
                </li>
                <li class="wti--list__bullet--entry--bullet__teal">
                  <a href="/{{ base }}/industries/automotive/automotive-in-the-uk" class="wti--list__bullet--entry link--list">
                    {{ labels.sectors.automotive[locale.code] }}
                  </a>
                </li>
                <li class="wti--list__bullet--entry--bullet__teal">
                  <a href="/{{ base }}/industries/creative/creative-in-the-uk" class="wti--list__bullet--entry link--list">
                    {{ labels.sectors.creative[locale.code] }}
                  </a>
                </li>
                <li class="wti--list__bullet--entry--bullet__teal">
                  <a href="/{{ base }}/industries/energy/energy-in-the-uk" class="wti--list__bullet--entry link--list">
                    {{ labels.sectors.energy[locale.code] }}
                  </a>
                </li>
              </div>
              <div class="col-sm-4">
                <li class="wti--list__bullet--entry--bullet__teal">
                  <a href="/{{ base }}/industries/financial-services/financial-services-in-the-uk" class="wti--list__bullet--entry link--list">
                    {{ labels.sectors.financial_services[locale.code] }}
                  </a>
                </li>
                <li class="wti--list__bullet--entry--bullet__teal">
                  <a href="/{{ base }}/industries/food-and-drink-manufacturing/food-and-drink-manufacturing-in-the-uk" class="wti--list__bullet--entry link--list">
                    {{ labels.sectors.food_and_drink_manufacturing[locale.code] }}
                  </a>
                </li>
                <li class="wti--list__bullet--entry--bullet__teal">
                  <a href="/{{ base }}/industries/health-and-life/health-and-life-in-the-uk" class="wti--list__bullet--entry link--list">
                    {{ labels.sectors.health_and_life_sciences[locale.code] }}
                  </a>
                </li>
                <li class="wti--list__bullet--entry--bullet__teal">
                  <a href="/{{ base }}/industries/retail/retail-in-the-uk" class="wti--list__bullet--entry link--list">
                    {{ labels.sectors.retail[locale.code] }}
                  </a>
                </li>
                <li class="wti--list__bullet--entry--bullet__teal">
                  <a href="/{{ base }}/industries/technology/technology-in-the-uk" class="wti--list__bullet--entry link--list">
                    {{ labels.sectors.technology[locale.code] }}
                  </a>
                </li>
              </div>
            </div>
          </ul>
        </div>

        {% if regionMap %}
          <div class="row wti--block">
            <div class="col-sm-6 wti--section-heading">
              <h2>{{regionBlock.content.title}}</h2>

              <p>{{ regionBlock.content.introduction }}</p>
            </div>
          </div>

          <div class="row wti--block">
            <div class="col-sm-6 hidden-xs">
              <table id="airport-table" class="wti--table">
                <tbody>
                  {% for row in regionTable.content.table_rows %}
                    <tr class="wti--table--row">
                      <td class="wti--table--cell__map-indicator">
                        <div class="wti--list__no-bullet--entry__yellow--map-indicator">
                          {{ row.mapIndicator }}
                        </div>
                      </td>

                      <td>
                        <a href="/{{ base }}/where-to-invest/{{ row.link }}/">
                          {{ row.cell1 }}
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <div class="col-sm-6">
              <div class="wti--map">
                <img id="regionMapImage" class="wti--map--responsive" src="/{{assets}}/media/wti-maps/uk-labelled-region-map.png">
                <div class="wti-map__mapping">
                  {% for point in regionMap.content.mapping_points %}
                    <a href="/{{ base }}/where-to-invest/{{ point.link }}/">
                      <div class="wti--map__mapping-point" style="top: {{ point.top }};left: {{ point.left }}; width: {{ point.width }}; height: {{ point.height }}"><span class="visuallyhidden">{{ point.text }}</span></div>
                    </a>
                  {% endfor %}
                </div>

                <div id="region-labels-toggle" class="wti--labels-toggle--wrapper">
                  <div id="region-labels-checkbox" class="wti--labels-toggle--checkbox">
                    &checkmark;
                  </div>

                  <span id="region-labels-text" class="wti--labels-toggle--text">
                    Hide cities
                  </span>
                </div>
              </div>
            </div>

            <div class="col-sm-6 hidden-sm hidden-md hidden-lg hidden-xl">
              <h2>{{labels.uk_regions[locale.code]}}</h2>

              <ul class="wti--list__no-bullet">
                {% for row in regionTable.content.table_rows %}
                  <li class="wti--list__no-bullet--entry">
                    <div class="row wti--list__no-bullet--entry__yellow">
                      <div class="col-xs-2">
                        <div class="wti--list__no-bullet--entry__yellow--map-indicator">
                          {{ row.mapIndicator }}
                        </div>
                      </div>
                      <div class="col-xs-10">
                        <a href="/{{ base }}/where-to-invest/{{ row.link }}/">
                          {{ row.cell1 }}
                        </a>
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
</main>

{% endblock %}
