{% extends "base/index.html" %}

{% block content %}
{% include "partials/top-bar-no_contact.html" %}
{% include "partials/header-nav.html" %}

<div id="content" tabindex="-1"></div> <!--"Skip to content" link navigates to this in order to skip naviagtion links-->

<main role="main">
  <div class="dit-generic-section">
    <div class="container">

      <div id="sector-list" class="witu-sector-list--xs">
        <p>{{ labels.investment_opts_select_industry[locale.code] }}</p>
        <div class="witu-sector-list__sector">
          <a href="/{{ base }}/industries/aerospace/aerospace-in-the-uk" class="sector">{{ labels.sectors.aerospace[locale.code] }}</a>
        </div>
        <div class="witu-sector-list__sector">
          <a href="/{{ base }}/industries/advanced-manufacturing/advanced-manufacturing-in-the-uk" class="sector">{{ labels.sectors.advanced_manufacturing[locale.code] }}</a>
        </div>
        <div class="witu-sector-list__sector">
          <a href="/{{ base }}/industries/automotive/automotive-in-the-uk" class="sector">{{ labels.sectors.automotive[locale.code] }}</a>
        </div>
        <div class="witu-sector-list__sector">
          <a href="/{{ base }}/industries/creative/creative-in-the-uk" class="sector">{{ labels.sectors.creative[locale.code] }}</a>
        </div>
        <div class="witu-sector-list__sector">
          <a href="/{{ base }}/industries/energy/energy-in-the-uk" class="sector">{{ labels.sectors.energy[locale.code] }}</a>
        </div>
        <div class="witu-sector-list__sector">
          <a href="/{{ base }}/industries/financial-services/financial-services-in-the-uk" class="sector">{{ labels.sectors.financial_services[locale.code] }}</a>
        </div>
        <div class="witu-sector-list__sector">
          <a href="/{{ base }}/industries/food-and-drink-manufacturing/food-and-drink-manufacturing-in-the-uk" class="sector">{{ labels.sectors.food_and_drink_manufacturing[locale.code] }}</a>
        </div>
        <div class="witu-sector-list__sector">
          <a href="/{{ base }}/industries/health-and-life/health-and-life-in-the-uk" class="sector">{{ labels.sectors.health_and_life_sciences[locale.code] }}</a>
        </div>
        <div class="witu-sector-list__sector">
          <a href="/{{ base }}/industries/retail/retail-in-the-uk" class="sector">{{ labels.sectors.retail[locale.code] }}</a>
        </div>
        <div class="witu-sector-list__sector">
          <a href="/{{ base }}/industries/technology/technology-in-the-uk" class="sector">{{ labels.sectors.technology[locale.code] }}</a>
        </div>
      </div>
      
      {% if blockHeader %}
      <div id="filter-list" class="witu-comparator-list--xs">
        <p>{{ labels.choose_a_comparator[locale.code] }}</p>
        <div class="witu-comparator-list__comparator">
          <a href="#universities" class="filter">{{ labels.universities[locale.code] }}</a>
        </div>

        <div class="witu-comparator-list__comparator">
          <a href="#salary" class="filter">{{ labels.salary[locale.code] }}</a>
        </div>

        <div class="witu-comparator-list__comparator">
          <a href="#r-and-d" class="filter">{{ labels.research_and_development_hubs[locale.code] }}</a>
        </div>
      </div>
      {% endif %}

      <div class="row">
        <div class="col-sm-3 hidden-xs" id="sticky-nav">
          <div class="witu-sector-list">
            <div class="witu-sector-list__sector">
              <a href="/{{ base }}/industries/aerospace/aerospace-in-the-uk" class="sector">{{ labels.sectors.aerospace[locale.code] }}</a>
            </div>
            <div class="witu-sector-list__sector">
              <a href="/{{ base }}/industries/advanced-manufacturing/advanced-manufacturing-in-the-uk" class="sector">{{ labels.sectors.advanced_manufacturing[locale.code] }}</a>
            </div>
            <div class="witu-sector-list__sector">
              <a href="/{{ base }}/industries/automotive/automotive-in-the-uk" class="sector">{{ labels.sectors.automotive[locale.code] }}</a>
            </div>
            <div class="witu-sector-list__sector">
              <a href="/{{ base }}/industries/creative/creative-in-the-uk" class="sector">{{ labels.sectors.creative[locale.code] }}</a>
            </div>
            <div class="witu-sector-list__sector">
              <a href="/{{ base }}/industries/energy/energy-in-the-uk" class="sector">{{ labels.sectors.energy[locale.code] }}</a>
            </div>
            <div class="witu-sector-list__sector">
              <a href="/{{ base }}/industries/financial-services/financial-services-in-the-uk" class="sector">{{ labels.sectors.financial_services[locale.code] }}</a>
            </div>
            <div class="witu-sector-list__sector">
              <a href="/{{ base }}/industries/food-and-drink-manufacturing/food-and-drink-manufacturing-in-the-uk" class="sector">{{ labels.sectors.food_and_drink_manufacturing[locale.code] }}</a>
            </div>
            <div class="witu-sector-list__sector">
              <a href="/{{ base }}/industries/health-and-life/health-and-life-in-the-uk" class="sector">{{ labels.sectors.health_and_life_sciences[locale.code] }}</a>
            </div>
            <div class="witu-sector-list__sector">
              <a href="/{{ base }}/industries/retail/retail-in-the-uk" class="sector">{{ labels.sectors.retail[locale.code] }}</a>
            </div>
            <div class="witu-sector-list__sector">
              <a href="/{{ base }}/industries/technology/technology-in-the-uk" class="sector">{{ labels.sectors.technology[locale.code] }}</a>
            </div>
          </div>
          
          {% if blockHeader %}
          <div class="witu-comparator-list">
            <div class="witu-comparator-list__comparator">
              <a href="#universities">{{ labels.universities[locale.code] }}</a>
            </div>

            <div class="witu-comparator-list__comparator">
              <a href="#salary">{{ labels.salary[locale.code] }}</a>
            </div>

            <div class="witu-comparator-list__comparator">
              <a href="#r-and-d">{{ labels.research_and_development_hubs[locale.code] }}</a>
            </div>
          </div>
          {% endif %}
        </div>

        <div class="col-xs-12 col-sm-9">
          <h1>{{ labels.where_in_the_uk[locale.code] }}</h1>

          {% if blockHeader %}
          
          <div class="witu-block">
            <h2 class="hidden-xs">{{ labels.for[locale.code] }} <span class="sector-name">{{ blockHeader.content.title }}</span></h2>
            <h2 class="hidden-sm hidden-md hidden-lg hidden-xl">{{ labels.for[locale.code] }} <span class="sector-toggle">{{ blockHeader.content.title }}</span></h2>

            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <img src="/{{assets}}/media/cluster-maps/{{ clusterMap.image }}">
              </div>

            </div>
          </div>

          <div id="universities" class="witu-block">
            <h2 class="hidden-xs">{{ labels.for[locale.code] }} <span class="sector-name">{{ blockHeader.content.title }}</span></h2>
            <h2 class="hidden-sm hidden-md hidden-lg hidden-xl">{{ labels.for[locale.code] }} <span class="sector-toggle sector-name">{{ blockHeader.content.title }}</span></h2>
            <h3 class="hidden-xs">{{ labels.showing[locale.code] }} <span class="filter-name">{{ labels.universities[locale.code] }}</span></h3>
            <h3 class="hidden-sm hidden-md hidden-lg hidden-xl">{{ labels.showing[locale.code] }} <span class="filter-toggle filter-name">{{ labels.universities[locale.code] }}</span></h3>

            <div class="row">
              <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
                <img src="/{{assets}}/media/universities-maps/{{ universitiesMap.image }}">
                <div class="image-mapping">
                  {% for point in universitiesMap.content.mapping_points %}
                    <div class="mapping-point" style="top: {{ point.top }};left: {{ point.left }};">{{ point.text }}</div>
                  {% endfor %}
                </div>
              </div>              

              <div class="col-xs-12 col-sm-8">                
                <table id="universities-table">
                  <thead>
                    <tr>
                      <th>{{ labels.university[locale.code] }}</th>
                      <th>{{ labels.region[locale.code] }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in universitiesTable.content.table_rows %}
                      <tr>
                        <td><span class="map-indicator">{{ row.map_indicator }}</span> {{ row.first_cell }}</td>
                        <td><a href="/{{ base }}/where-in-the-uk/{{ row.link }}">{{ row.second_cell }}</a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div id="salary" class="witu-block">
            <h2 class="hidden-xs">{{ labels.for[locale.code] }} <span class="sector-name">{{ blockHeader.content.title }}</span></h2>
            <h2 class="hidden-sm hidden-md hidden-lg hidden-xl">{{ labels.for[locale.code] }} <span class="sector-toggle sector-name">{{ blockHeader.content.title }}</span></h2>
            <h3 class="hidden-xs">{{ labels.showing[locale.code] }} <span class="filter-name">{{ labels.salary[locale.code] }}</span></h3>
            <h3 class="hidden-sm hidden-md hidden-lg hidden-xl">{{ labels.showing[locale.code] }} <span class="filter-toggle filter-name">{{ labels.salary[locale.code] }}</span></h3>

            <div class="row">
              <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
                <img src="/{{assets}}/media/salary-maps/{{ salaryMap.image }}">
                <div class="image-mapping">
                  {% for point in salaryMap.content.mapping_points %}
                    <div class="mapping-point" style="top: {{ point.top }};left: {{ point.left }};">{{ point.text }}</div>
                  {% endfor %}
                </div>
              </div>

              <div class="col-xs-12 col-sm-8">

                <table id="salary-difference-table">
                  <thead>
                    <tr>
                      <th>{{ labels.region[locale.code] }}</th>
                      <th>{{ labels.salary_difference[locale.code] }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in salaryTable.content.table_rows %}
                      <tr>
                        <td><span class="map-indicator">{{ row.map_indicator }}</span><a href="/{{ base }}/where-in-the-uk/{{ row.link }}"> {{ row.first_cell }}</td>
                        <td>{{ row.second_cell }}</a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
                
              </div>
            </div>
          </div>

          <div id="r-and-d" class="witu-block">
            <h2 class="hidden-xs">{{ labels.for[locale.code] }} <span class="sector-name">{{ blockHeader.content.title }}</span></h2>
            <h2 class="hidden-sm hidden-md hidden-lg hidden-xl">{{ labels.for[locale.code] }} <span class="sector-toggle sector-name">{{ blockHeader.content.title }}</span></h2>
            <h3 class="hidden-xs">{{ labels.showing[locale.code] }} <span class="filter-name">{{ labels.research_and_development_hubs[locale.code] }}</span></h3>
            <h3 class="hidden-sm hidden-md hidden-lg hidden-xl">{{ labels.showing[locale.code] }} <span class="filter-toggle filter-name">{{ labels.research_and_development_hubs[locale.code] }}</span></h3>

            <div class="row">
              <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4">
                <img src="/{{assets}}/media/research-maps/{{ researchMap.image }}">
                <div class="image-mapping">
                  {% for point in researchMap.content.mapping_points %}
                    <div class="mapping-point" style="top: {{ point.top }};left: {{ point.left }};">{{ point.text }}</div>
                  {% endfor %}
                </div>
              </div>

              <div class="col-xs-12 col-sm-8">

                <table id="r-and-d-table">
                  <thead>
                    <tr>
                      <th>{{ labels.region[locale.code] }}</th>
                      <th>{{ labels.activity[locale.code] }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in researchTable.content.table_rows %}
                      <tr>
                        <td><span class="map-indicator">{{ row.map_indicator }}</span><a href="/{{ base }}/where-in-the-uk/south-east-england/"> {{ row.first_cell }}</td>
                        <td>{{ row.second_cell }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>

              </div>
            </div>
          </div>

          {% else %}

          <div id="sector-list" class="hidden-sm hidden-md hidden-lg hidden-xl">
            <p>{{ labels.investment_opts_select_industry[locale.code] }}</p>
            <div class="witu-sector-list__sector">
              <a href="/{{ base }}/industries/aerospace/aerospace-in-the-uk" class="sector">{{ labels.sectors.aerospace[locale.code] }}</a>
            </div>
            <div class="witu-sector-list__sector">
              <a href="/{{ base }}/industries/advanced-manufacturing/advanced-manufacturing-in-the-uk" class="sector">{{ labels.sectors.advanced_manufacturing[locale.code] }}</a>
            </div>
            <div class="witu-sector-list__sector">
              <a href="/{{ base }}/industries/automotive/automotive-in-the-uk" class="sector">{{ labels.sectors.automotive[locale.code] }}</a>
            </div>
            <div class="witu-sector-list__sector">
              <a href="/{{ base }}/industries/creative/creative-in-the-uk" class="sector">{{ labels.sectors.creative[locale.code] }}</a>
            </div>
            <div class="witu-sector-list__sector">
              <a href="/{{ base }}/industries/energy/energy-in-the-uk" class="sector">{{ labels.sectors.energy[locale.code] }}</a>
            </div>
            <div class="witu-sector-list__sector">
              <a href="/{{ base }}/industries/financial-services/financial-services-in-the-uk" class="sector">{{ labels.sectors.financial_services[locale.code] }}</a>
            </div>
            <div class="witu-sector-list__sector">
              <a href="/{{ base }}/industries/food-and-drink-manufacturing/food-and-drink-manufacturing-in-the-uk" class="sector">{{ labels.sectors.food_and_drink_manufacturing[locale.code] }}</a>
            </div>
            <div class="witu-sector-list__sector">
              <a href="/{{ base }}/industries/health-and-life/health-and-life-in-the-uk" class="sector">{{ labels.sectors.health_and_life_sciences[locale.code] }}</a>
            </div>
            <div class="witu-sector-list__sector">
              <a href="/{{ base }}/industries/retail/retail-in-the-uk" class="sector">{{ labels.sectors.retail[locale.code] }}</a>
            </div>
            <div class="witu-sector-list__sector">
              <a href="/{{ base }}/industries/technology/technology-in-the-uk" class="sector">{{ labels.sectors.technology[locale.code] }}</a>
            </div>
          </div>

          {% endif %}

        </div>

      </div>

    </div>
  </div>
</main>

{% endblock %}
