//_video.scss

video {
  //
}

.video-wrapper {
  position: relative;
  min-height: 540px;
  width: 100%;
  display: none;

  iframe {
    position: absolute;
    top: 0;
    #{$left}: 0;
    width: 100% !important;
    height: 100% !important;
  }

}

.video-active {
  z-index: 6;
  display: block;
}

//hide video play button on iOS
*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}