<!--{% if pageHeader.heroImage %}-->
    <!--<style>-->
        <!--.jumbotron {-->
            <!--background-image: url("/assets/img/{{pageHeader.heroImage}}");-->
            <!--/*background-size: cover;*/-->
        <!--}-->
    <!--</style>-->
<!--{% endif %}-->

<div class="jumbotron--auto">
    <div class="container">
        <div class="dit-hero__content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>{{ pageHeader.content.title }}</h1>
                </div>
                <div class="col-md-8 col-sm-10">
                    {{ pageHeader.content.contents | safe }}
                </div>
            </div>
        </div>
    </div>
</div>
